* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.header h1 {
  padding: 10px;
  cursor: pointer;
}

.container {
  width: 250px;
  height: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.display input{
  margin: 10px;
  width: 220px;
  height: 35px;
  display: flex;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0px 8px;
  text-align: end;
  caret-color: transparent;
  font-size: 16px;
}

.container{
  background-color: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 20px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5{
  display: flex;
}


button{
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex: 1;
  color: #ffffff;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: .1s;
  border: none;
}

button:hover{
  transition: .1s;
  transform: scale(1.2, 1.2);
}

